@import "tailwindcss";

/* Konfigurasi Warna dan Font Custom */
@theme {
  --font-sans: 'Nunito Sans', sans-serif;
  --font-header: 'Madimi One', sans-serif;

  --color-brand-green: #88AB61;
  --color-brand-orange: #EE8F48;
  --color-brand-bg: #FDF9F0;
  --color-brand-card: #F2ECDC;
  --color-brand-accent: #E29B38;
}