@import "tailwindcss";

/* Konfigurasi Warna dan Font Custom */
@theme {
  /* Font */
  --font-sans: 'Nunito Sans', sans-serif;
  --font-header: 'Madimi One', sans-serif;

  /* Warna Utama */
  --color-brand-green: #92BF4A;
  --color-brand-orange: #FB8E3D;
  --color-brand-light-orange: #FEC74C;
  --color-brand-bg: #FFF9F0;
  --color-brand-card: #F2ECDC;
  --color-brand-accent: #E29B38;
  --color-brand-dark: #4E4B48;
  --color-brand-gray: #CAC5BE;

}