/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

/* konfigurasi warna dan font */
@theme {
  /* Font */
  --font-sans: 'Nunito Sans', sans-serif;
  --font-header: 'Madimi One', sans-serif;

  /* Warna Utama */
  --color-brand-green: #92BF4A;
  --color-brand-orange: #FB8E3D;
  --color-brand-light-orange: #FEC74C;
  --color-brand-bg: #FFF9F0;
  --color-brand-card: #F2ECDC;
  --color-brand-peach: #FFE7D9;
  --color-brand-accent: #E29B38;
  --color-brand-dark: #4E4B48;
  --color-brand-text: #4E4B48;
  --color-brand-gray: #CAC5BE;
  --color-brand-shadow: #9A6A39;
  --color-mode-dark: #3E3B39;
  --color-card-dark-mode: #4E4B48;
  --color-line-dark: #7A7876;
  --color-font-dark-mode: #FFF9F0;
  --color-bg-orange-dark: #644C3A;

  /* Shadow Soft Card */
  --shadow-brand: 0 12px 35px -6px rgba(154, 106, 57, 0.18);
  --shadow-card: 0 12px 35px -6px rgba(154, 106, 57, 0.18);
}